body {
  background-color: #262642;
  color: #f8f9fa;
  overflow-x: hidden;
}
a {
  color: #4f8cff;
}
a:hover {
  color: #90c2ff;
}

/* Skill */
.skills-marquee {
  position: relative;
  width: 100%;
  height: 80px;
}

.skills-track {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.centered-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: linear-gradient(135deg, #1a1a33, #202040);
  border: 1px solid #4f8cff44;
  box-shadow: 0 0 20px rgba(79, 140, 255, 0.4);
  max-width: 850px;
  width: 90%;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -45%) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
